<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- <div>
      <label for="id">ID:</label>
      <input type="number" id="id" formControlName="id">
    </div> -->
  
    <div>
      <label for="projectName">Project Name :</label>
      <input type="text" id="projectName" formControlName="projectName">
    </div>
  
    <div>
      <label for="deptID">Department ID:</label>
      <input type="number" id="deptID" formControlName="deptID">
    </div>
  
    <div>
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" formControlName="startDate">
    </div>
  
    <div>
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" formControlName="endDate">
    </div>
  
    <button type="submit" >Submit</button>
  </form>
</div>
  